.team-hero{
    position: fixed;
    width: 30%;
    height: 100%;
    border-left: 1px solid rgba(255, 255, 255, 0.295);
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: rgba(255, 255, 255, 0.808);
}

.team{
    font-size: 1.5rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.295);
    padding: 5px;
}

.team-details{
    display: flex;
    flex-direction: row;
}

.h1{
    font-size: 1.1rem;
    font-weight: 900;
}

.team1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
    /* padding: 10px; */
}

.team2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
    /* padding: 10px; */
}

.players{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 5px;
    font-size: 0.9rem;
}

@media all and (max-width:1000px){
    .players{
        gap: 10px;
        font-size: 0.8rem;
    }
}

@media all and (max-width:900px){
    .team-hero{
        width: 30%;
        font-size: 0.6rem;
    }
    .players{
        gap: 3px;
    }
}


@media all and (max-width:850px){
    .team-hero{
        height: 100vh;
        width: 100%;
        position: relative;
        font-size: 1rem;
    }
    .players{
        gap: 50px;
    }
}

