.stagecard{
    width: 90%;
    height: 100%;
}

.cns{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
}


.dates{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid rgba(255, 255, 255, 0.295);
    margin-bottom: 20px;
}

.d1{
    height: 50px;
    width: 84px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
    border-radius: 3px;
}

.cl{
    background-color: seagreen;
}


@media all and (max-width:500px){
    .dates{
        font-size: 0.8rem;
    }
    .prc{
        width: 60px;
    }
}